.links {
  display: flex;
  justify-content: space-around;
}

.app {
  max-width: 700px;
  margin: auto;
}

.title {
  text-align: center;
  font-weight: 600;
  padding: 24px;
}

.editable {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 0 12px;
}

.subTitle {
  font-weight: 600;
}

.mediumWrapper {
  margin: 24px 0;
}

.articles{
  min-height: 40px;
}

.article{
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 30px;
}

.button{
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 5px;

}

.content{
  margin-top: 60px;
}
